.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

/lib
/.nyc_output
/test/**/dist

# test scripts
scripts

# tnpm cache directory
/test/**/.cache

# webstorm
.idea
.tea
.npmrc
.entry
.happypack
_package
_dist
yarn.lock
/_tmp
package-lock.json
.vscode
.history